@use "./LogBar.scss" as logbar;

footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
  font-family: "Roboto", sans-serif;

  .footer-container {
    @include logbar.flexing(null, space-between, center);
    flex-wrap: wrap;
    gap: 30px;
  }

  ul {
    list-style-type: none;
      padding: 0;
      @include logbar.flexing(null, center, center);
      gap: 15px;
  }

  .footer-links {
    ul {
      

      li {
        margin-bottom: 10px;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 16px;
          transition: color 0.3s ease;

          &:hover {
            color: #58a6ff;
          }
        }
      }
    }
  }
  .footer-social {
    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 10px;
        transition: scale 0.3s ease;
        &:hover {
          scale: 1.3;
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #aaa;

    p {
      margin: 0;
    }
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }

    .footer-links,
    .footer-social {
      text-align: center;
    }
  }
}
