@use "./LogBar.scss" as logbar;

.body-login {
    @include logbar.flexing(row, space-evenly, center);
    background-color: logbar.$primary-color;
    color: red;
    flex: 1;
    
    section {
        @include logbar.flexing(column, center, center);
        height: 100%;
        width: 50%;
        padding: 100px 100px;
    }

    .container-1 {
        height: 100%;
    }

    .container-2 {
        
        .form {
            @include logbar.flexing(column, center, center);
            gap: 25px;
            width: 300px;
            height: 340px;
            padding: 20px;
            background-color: rgb(205, 205, 205);
            border-radius: 10px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            .SignInForm{
                @include logbar.flexing(column, center, center);
                gap: 10px;
                width: 100%;;
            }
        }
    }
}