@use "./LogBar.scss" as logbar;

h1 {
    font-size: 60px;
    margin-bottom: 20px;
    color: black;
}

h4 {
    margin-bottom: 5px;
}

hr {
    width: 100%;
}

.section1 {
    height: auto;
    @include logbar.flexing(null, flex-start, center);
    .TitleSection {
        @include logbar.flexing(column, center, flex-start);
        width: 100%;
        .routeIndexContainer {
            @include logbar.flexing(row, center, center);
            gap: 20px;
            .index {
                width: auto;
                cursor: pointer;
                hr {
                    border: "1px solid black";
                    opacity: 0;
                }
                &:hover{
                    hr {
                        opacity: 1;
                    }
                }
                
            }
        }
    }
    .MenuProjectSection {
        height: 100%;
        width: 100%;
        
    }
}

.section2 {
    @include logbar.flexing(row, space-between, flex-start);
    width: 100%;
    height: 320px;
    margin: 20px 0;
    background-color: gray;
    border-radius: 20px;
    padding: 40px;

    .generalStats {
        width: 300px;
        hr {
            margin: 20px 0;
        }
        .statsParams {
            @include logbar.flexing(row, space-between, center);
            width: 100%;
            .titleParams {
                @include logbar.flexing(column, flex-start, flex-start);
                gap: 15px;
                width: 100%;
                h4 {
                    margin-right: 10px;
                }
            }
            .valueParams {
                @include logbar.flexing(column, flex-start, flex-end);
                gap: 15px;
                width: 100%;
                h4 {
                    margin-right: 10px;
                }
            }
        }
    }

    .actions {
        width: 280px;
        hr {
            margin: 20px 0;
        }
        .actionButtons {
            @include logbar.flexing(column, flex-start, flex-start);
            gap: 15px;
        }
    }

}