@use "./LogBar.scss" as logbar;

h1 {
    font-size: 60px;
    margin-bottom: 20px;
    color: black;
}

h4 {
    margin-bottom: 5px;
}

hr {
    width: 100%;
}

section {
    height: auto;
    @include logbar.flexing(null, flex-start, center);
    .TitleSection {
        @include logbar.flexing(column, center, flex-start);
        width: 97%;
        .routeIndexContainer {
            @include logbar.flexing(row, center, center);
            gap: 20px;
            .index {
                width: auto;
                cursor: pointer;
                hr {
                    border: "1px solid black";
                    opacity: 0;
                }
                &:hover{
                    hr {
                        opacity: 1;
                    }
                }
                
            }
        }
    }
    .MenuProjectSection {
        height: 100%;
        width: 100%;
        /* .ProjectCard {
            
        } */
    }
}