/* [next]/internal/font/google/geist_6feb203d.module.css [app-client] (css) */
@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/_next/static/media/gyByhwUxId8gMEwSGFWNOITddY4-s.81df3a5b.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/_next/static/media/gyByhwUxId8gMEwcGFWNOITd-s.p.da1ebef7.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Fallback;
  src: local(Arial);
  ascent-override: 95.94%;
  descent-override: 28.16%;
  line-gap-override: 0.0%;
  size-adjust: 104.76%;
}

.geist_6feb203d-module__8DQF1a__className {
  font-family: Geist, Geist Fallback;
  font-style: normal;
}

.geist_6feb203d-module__8DQF1a__variable {
  --font-geist-sans: "Geist", "Geist Fallback";
}


/* [next]/internal/font/google/geist_mono_c7d183a.module.css [app-client] (css) */
@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/_next/static/media/or3nQ6H_1_WfwkMZI_qYFrkdmhHkjkotbA-s.e32db976.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/_next/static/media/or3nQ6H_1_WfwkMZI_qYFrcdmhHkjko-s.p.be19f591.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Mono Fallback;
  src: local(Arial);
  ascent-override: 74.67%;
  descent-override: 21.92%;
  line-gap-override: 0.0%;
  size-adjust: 134.59%;
}

.geist_mono_c7d183a-module__ZW1U4G__className {
  font-family: Geist Mono, Geist Mono Fallback;
  font-style: normal;
}

.geist_mono_c7d183a-module__ZW1U4G__variable {
  --font-geist-mono: "Geist Mono", "Geist Mono Fallback";
}


/* [project]/src/app/globals.css [app-client] (css) */
:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Open Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  color: #000;
}

h2 {
  color: #000;
}

h3 {
  color: #000;
}

h4 {
  color: #000;
}

div {
  color: #000;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/* [project]/src/styles/Footer.scss.css [app-client] (css) */
input {
  background-color: #f5f5f5;
  color: #000;
  padding: 8px;
  border: 1px solid #726e6e;
  border-radius: 4px;
  font-size: 14px;
}

.header-container {
  width: 100%;
  padding: 10px 20px;
  background-color: #4d4d60;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-container .Logo {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.header-container .login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-container .login-title {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}

.header-container .login-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-container .login-form .login-button {
  background-color: #856825;
  color: #fff;
  border: none;
  padding: 8px 25px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .3s;
}

.header-container .login-form .login-button:hover {
  background-color: #684f1f;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
  font-family: Roboto, sans-serif;
}

footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

footer .footer-links ul li {
  margin-bottom: 10px;
}

footer .footer-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color .3s;
}

footer .footer-links ul li a:hover {
  color: #58a6ff;
}

footer .footer-social ul {
  list-style-type: none;
  padding: 0;
}

footer .footer-social ul li {
  margin-bottom: 10px;
  transition: scale .3s;
}

footer .footer-social ul li:hover {
  scale: 1.3;
}

footer .footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #aaa;
}

footer .footer-bottom p {
  margin: 0;
}

@media (width <= 768px) {
  footer .footer-container {
    flex-direction: column;
    align-items: center;
  }

  footer .footer-links, footer .footer-social {
    text-align: center;
  }
}


/*# sourceMappingURL=%5Broot%20of%20the%20server%5D__7c1192._.css.map*/
